*.xcuserstate
*.xcuserstate
IOSAppTemplate.xcodeproj/project.xcworkspace/xcuserdata/amir.xcuserdatad/UserInterfaceState.xcuserstate
IOSAppTemplate.xcodeproj/project.xcworkspace/xcuserdata/amir.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
